div.login {
    text-align: center;
}

legend.login {
    text-align: left;
    width: inherit;
    padding:0 10px;
    border-bottom: none;
}


fieldset.login {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin-left: 40px;
    margin-right: 40px;
}
input.login{
    margin: 10px;
}

button.login {
    margin-left: 20px;
}
body{
    background: grey;
}
.row{
    background: grey;
    border-radius: 30px;
    box-shadow: 12px 12px 22px;
}

.user-form{
    display: flex;
    flex-flow: column;
    background-color: aquamarine;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
}
.btn1 {
    border: black;
    outline: none;
    height: 50px;
    width: 10%;
    font-size: 20px;
    background-color: black;
    color: white;
    border-radius: 4px;
    font-weight:bold;
}
.fontlogin{
    font-size: 40px;
}
.fontctr{
    font-size: 15px;
}
.btn1:hover{
    background: white;
    border: 1px solid;
    color: black;
}
.user-input{
    font-size: 12px;
    color: white;
    display: flex;
    flex-flow: column;
    width: 250px;
    background-color: grey;
    margin-bottom: 5px;
}
.form-container{
	border:2px solid #fff;
	padding:50px 60px;
	margin-top:40vh;
}
.form-control {
	background-image: linear-gradient(#00a9ff, #00a9fc), linear-gradient(rgb(210,210,210), rgb(211,211,211));
	background-size: 0 2px, 100% 1px;
	background-color: transparent;
	font-weight: 400;
    border-width: 0px;
    font-size: 30px;
	border-style: initial;
	background-repeat: no-repeat;
	background-position: left bottom, center calc(100%-px);
	border-radius: 0;
	padding: 7px 0;
}
