.btn-danger{
    font-size: 15px;
}
.btn-primary{
    font-size: 15px;
}

.btn-dark {
    font-size: 15px;
}
.btn-secondary{
    font-size: 15px;
}
.btn-light{
    font-size: 15px;
}
.form-control{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    background-color: #e9ecef;
}
body{
    background: #007bff;
}
/* .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    font-size: 15px;
}
.form-control:disabled, .form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1;
    font-size: 15px;
} */
.custom-select{
    font-size: 15px;
    background-color: #e9ecef;
}
.btn-outline-light{
    font-size: 15px;
}