.user-form{
    display: flex;
    flex-flow: column;
    background-color: aquamarine;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
}
.user-input{
    font-size: 12px;
    color: white;
    display: flex;
    flex-flow: column;
    width: 250px;
    background-color: grey;
    margin-bottom: 5px;
}