#bar {
    display: flex;
    align-items: center;
    margin-left: 2px;
    margin-top: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

#barItemsLeft {
    padding-left: 30px;
}
#barItemsRight {
    padding-right: 10px;
}
#icon {
    width: 35px;
    height: 44px;
}
#icon1 {
    width: 48px;
    height: 46px;
}
.Close{
    font-size: 30px;
    color:red;
}
.navbar{
    border-radius:0px;
}
