#bar {
    display: flex;
    align-items: center;
    margin-left: 2px;
    margin-top: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

#barItemsLeft {
    padding-left: 30px;
}
#barItemsRight {
    padding-right: 10px;
}
#icon {
    width: 60px;
    height: 60px;
    color: white;
}
#icon1 {
    width: 60px;
    height: 60px;
    color: white;
}
.Close{
    font-size: 30px;
    color:red;
}
.navbar{
    border-radius:0px;
    background-color: #0D1117;
}
.font1{
    font-size: 31px;
    color:white;
    font-weight: bold;
}