#menuButton {
    padding-top: 20px;
    padding-inline: 10px;
    padding-bottom: 20px;
}

#parent {
    display: flex;
}

#menu {
    margin-left: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    width: 175px; 
    height: 900px;
    /* background: #0D1117; 125*/
    text-align: center;
    background: white;
}

#table {
    flex: 1;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    background: white;
    
}
.fontctr{
    font-size: 30px;
    font-weight: bold;
}
body{
    background: #0D1117;
}
